:root {
  --contacts-text-color: #757575;
  --header-styles-color: #212121;
  --accent-color: #2196f3;
  --primare-text-color: #ffffff;
  --beckground-second: #2f303a;
  --button-focus-color: #188ce8;
  --team-background-color: #f5f4fa;
  --logo-studio-color: #000000;
  --button-border-solid: #f5f4fa;
  --border-bottom-solid: #ececec;
  --services-styles-solid: #eeeeee;
  --footer-content-color: rgb(255, 255, 255, 0.6);
  --shadow-box-rgb: rgb(0, 0, 0, 0.15);
  --clients-list-color: #afb1b8;
  $Roboto: “Roboto”, sans-serif;
  $Raleway: “Raleway”, sans-serif;
}
